.navbar
    .site-name
        display: none

html
    line-height 1.15
    -webkit-text-size-adjust 100%

body
    margin 0

main
    display block

h1
    font-size 2em
    margin 0.67em 0

hr
    box-sizing content-box
    height 0
    overflow visible

pre
    font-family monospace, monospace
    font-size 1em

a
    background-color transparent
    text-decoration none
    color inherit

abbr[title]
    border-bottom none
    text-decoration underline
    text-decoration underline dotted

b,
strong
    font-weight 500f

code,
kbd,
samp
    font-family monospace, monospace
    font-size 1em

small
    font-size 80%

sub,
sup
    font-size 75%
    line-height 0
    position relative
    vertical-align baseline

sub
    bottom -0.25em

sup
    top -0.5em

img
    border-style none

button,
input,
optgroup,
select,
textarea
    font-family inherit
    font-size 100%
    line-height 1.15
    margin 0

button,
input
    overflow visible

button,
select
    text-transform none

button,
[type="button"],
[type="reset"],
[type="submit"]
    -webkit-appearance button

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
    border-style none
    padding 0

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
    outline 1px dotted ButtonText

fieldset
    padding 0.35em 0.75em 0.625em

legend
    box-sizing border-box
    color inherit
    display table
    max-width 100%
    padding 0
    white-space normal

progress
    vertical-align baseline

textarea
    overflow auto

[type="checkbox"],
[type="radio"]
    box-sizing border-box
    padding 0

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
    height auto

[type="search"]
    -webkit-appearance textfield
    outline-offset -2px

[type="search"]::-webkit-search-decoration
    -webkit-appearance none

::-webkit-file-upload-button
    -webkit-appearance button
    font inherit

details
    display block

summary
    display list-item

template
    display none

[hidden]
    display none

html,
body
    height 100%
    width 100%
    margin 0
    padding 0
    left 0
    top 0
    font-size 100%

.left
    text-align left

.right
    text-align right

.center
    text-align center
    margin-left auto
    margin-right auto

.justify
    text-align justify

.container
    width 90%
    margin-left auto
    margin-right auto

.row
    position relative
    width 100%
    display flex
    align-items center
    justify-content center
    [class^="col"]
        float left
        margin 0.5rem 2%
        min-height 0.125rem
    &::after
        content ""
        display table
        clear both

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
    width 96%

.col-1-sm
    width 4.33%

.col-2-sm
    width 12.66%

.col-3-sm
    width 21%

.col-4-sm
    width 29.33%

.col-5-sm
    width 37.66%

.col-6-sm
    width 46%

.col-7-sm
    width 54.33%

.col-8-sm
    width 62.66%

.col-9-sm
    width 71%

.col-10-sm
    width 79.33%

.col-11-sm
    width 87.66%

.col-12-sm
    width 96%

.hidden-sm
    display none

@media only screen and (min-width: 33.75em)
    .container
        width 80%

@media only screen and (min-width: 45em)
    .col-1
        width 4.33%
    .col-2
        width 12.66%
    .col-3
        width 21%
    .col-4
        width 29.33%
    .col-5
        width 37.66%
    .col-6
        width 46%
    .col-7
        width 54.33%
    .col-8
        width 62.66%
    .col-9
        width 71%
    .col-10
        width 79.33%
    .col-11
        width 87.66%
    .col-12
        width 96%
    .hidden-sm
        display block

.flex-column
    display flex
    align-items center
    justify-content center
    flex-direction column

.flex-row
    display flex
    align-items center
    justify-content center
    flex-direction row

@media only screen and (max-width: 768px)
    [class^="col"]
        width 100%
    .row
        flex-direction column

.no-padding
    padding 0

.no-margin
    margin 0

.underlined
    position relative
    &::before
        content ""
        position absolute
        bottom 0
        left 0
        right 0
        height 2px
        background-color #2874ed
        transform-origin bottom right
        transform scaleX(0)
        transition transform 0.5s ease
    &:hover
        &::before
            transform-origin bottom left
            transform scaleX(1)

.opacity-on-hover
    transition opacity 0.5s ease
    &:hover
        opacity 0.8

.btn
    border 2px solid #ffffff
    color #303133
    padding 10px 20px
    border-radius 3px
    background-color #ffffff
    &.blue
        border-color #2874ed
        color #ffffff
        background-color #2874ed
