.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

.underlined {
  position: relative;
}

.underlined::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2874ed;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underlined:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.opacity-on-hover {
  transition: opacity 0.2s ease;
}
.opacity-on-hover:hover {
  opacity: 0.6;
}
