@import url("../fonts/circular/style.css");
@import url("./grid.css");
@import url("./normalize.css");
@import url("./custom.css");

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Circular", "Helvetica", "Arial", sans-serif;

  font-weight: 300;
}

header {
  height: 100vh;
  background-image: url("../images/header-background.png");
  background-position: right -120px bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

header .inner-header {
  padding-top: 80px;
  height: calc(100% - 80px);
}

header .navbar {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 1040;
  -webkit-transition: height 0.3s ease-out, background 0.3s ease-out,
    box-shadow 0.5s, left 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.5s;
  transition: height 0.3s ease-out, background 0.3s ease-out, transform 0.5s,
    box-shadow 0.5s, left 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: height 0.3s ease-out, background 0.3s ease-out, transform 0.5s,
    box-shadow 0.5s, left 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.5s;
  box-shadow: none;
}

header .inner-navbar {
  justify-content: space-between;
  position: fixed;
  z-index: 1040;
  height: 80px;
  width: 80%;
  margin: auto;
}

header .navbar.fixed {
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(150, 150, 150, 0.15);
  height: 60px;
}

header .navbar .links {
  color: #ffffff;
}

header .buttons {
  justify-content: flex-start;
}

header .navbar.navbar.fixed .links {
  color: #303133;
}

header .navbar .links .user-links {
  margin-left: 60px;
}

header .navbar .links .user-links .register {
  border: 2px solid #ffffff;
  color: #303133;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ffffff;
}

header .navbar .links .user-links .login {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 3px;
}

header .navbar.fixed .links .user-links .login {
  background-color: transparent;
  color: #858585;
  border-color: #e7e7e7;
}

header .buttons .more {
  border: 2px solid #2874ed;
  padding: 12px 20px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #2874ed;
  margin-right: 20px;
}

header .buttons .register {
  border: 2px solid #e7e7e7;
  padding: 12px 20px;
  border-radius: 3px;
  color: #858585;
  background-color: transparent;
}

header .navbar.fixed .links .user-links .register {
  border-color: #2874ed;
  color: #ffffff;
  background-color: #2874ed;
}

header .navbar .links .link:not(:last-child) {
  margin-right: 20px;
}

header .intro .title,
header .intro .title h1 {
  font-size: 48px;
  color: #303133;
  margin-top: 0;
}

header .intro .subtitle {
  font-size: 18px;
  color: #858585;
  margin-bottom: 40px;
}

header .intro .description {
  font-size: 16px;
  color: #858585;
  margin-bottom: 40px;
}

main {
}

main section {
  text-align: center;
  padding: 70px 0;
}

main section h2.title {
  color: #303133;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 450px;
  position: relative;
}

main section h2.title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  width: 50px;
  height: 2px;
  background: #2874ed;
}

main section .description {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #858585;
}

main .trust-us {
  height: 120px;
  background: #f6f7fb;
}

main .trust-us > div {
  height: 100%;
  padding: 0;
  opacity: 0.5;
}
main .trust-us li:not(:last-child) {
  margin-right: 20px;
}

main .features .item {
  padding: 20px;
  background: #ffffff;
  border-radius: 6px;
  min-height: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.03);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

main .trust-us img {
  max-width: 120px;
}

main .features .item:hover {
  transform: translateY(-4px);
}

main .features .item .icon {
  margin-bottom: 10px;
}

main .features .item .title,
main .contributors .item .contributor {
  color: #303133;
  font-weight: 400;
  margin-top: 10px;
}

main .features .item .description {
  margin-bottom: 0;
}

main .contributors {
  background: #f6f7fb;
}

main .contributors .item img {
  border-radius: 50%;
}

main .contributors .item .contributor {
  margin-bottom: 5px;
}

footer {
  padding: 70px 0 20px 0;
}
footer .pre-footer {
  margin-bottom: 50px;
}

footer .pre-footer [class^="flex"] {
  justify-content: space-between;
  align-items: flex-start;
}

footer .pre-footer h2 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
}

footer .pre-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .pre-footer ul li {
  font-size: 15px;
  color: #858585;
}

footer .pre-footer ul li:not(:last-child) {
  margin-bottom: 5px;
}

footer .post-footer {
  font-size: 16px;
  padding: 20px 0 0 0;
  color: #858585;
}
